*{
    margin: 0;
    padding: 0;
}
.main{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right,rgba(0,0,0,0.2) 10%,rgba(0,0,0,0.2) 10%),url(home.jpg);
}

nav ul li{
    display: inline-block;
    position: relative;
    left: 30%;
    margin: 30px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
}
.home{
    text-transform: capitalize;
    margin: 100px;
    width: 50%;
}
.home span{
    position: relative;
    left: 20%;
    font-size: 25px;
}
.red
{
    color: red;
}
span{
    font-size: 25px;
}
.bottom{
    color: red;
    position: relative;
    margin-left: 80%;
}
h1{
    position: relative;
    margin-left: 30%;
    font-size: 60px;
}
.home p{
    position: relative;
    top: 30px;
    left: 30%;
    width: 90%;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#home{
    display: none;
}
/* biodata */
#biodata{
    display: none;
}
.biodata{
  
    position: absolute;
    margin-top: 20px;
    margin-left: 40px;
    margin-left: 25%;
    width: 70%;
}
.biodata h1,h2,h3{
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.biodata p{
width: 50%;
padding: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.biodata ul{
    padding: 10px;

}
.biodata ul li{
    padding: 2px;

}
.biodata ul li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* skill */
#skill{
    display: none;
}
.skill label{
    position: relative;
    text-align: center;
    display: inline-block;
    left: 25%;
    top: 30px;
    padding: 20px;
    margin: 10px;
    width: 100px;
    height: 100px;
}
.skill label img{
    padding: 10px;
    width: 100px;
    filter: drop-shadow(10px 5px 4px aqua);
}
.skill p{
    position: absolute;
    left: 30%;
  
}
/* project */
#project{
    text-transform: capitalize;
    display: none;
}
.project h2{
    padding: 10px;
    font-size: 30px;
}
.project{
    position: absolute;
    margin-top:20px;
    margin-left: 200px;
}
.project h3{
    padding: 10px;
}
.project p{
    padding: 10px;
    color: rgb(172, 121, 121); 
}
.project ul li a{
    text-decoration: none;
}
/* contact */
#contact{
    display: none;
}
.contact input{
    position: relative;
    left: 40%;
    top: 10px;
    padding: 10px;
    display: block;
    text-align: center;
    width: 250px;
  border: 1px solid grey;
    background-color: transparent; 
    margin: 10px;
    text-transform: capitalize;
}
.contact input:focus{
    outline: none;
    font-size: 15px;
    

}

.contact button{
    position: relative;
    height: 30px;
    border-radius: 30px;
    left: 45%;
    top:-30px;
    width: 100px;

}
.contact span{
    position: relative;
    top: 200px;
    left:30%;
padding: 30px;
}
.contact img{
    position: relative;
    top: -30px;
    width: 70px;

}
textarea{
    position: relative;
    left: 40%;
    top: 10px;
    padding: 10px;
    display: block;
    text-align: center;
    min-width: 250px;
    min-height: 100px;
    max-width: 250px;
    max-height:100px ;
  border: 1px solid grey;
    background-color: transparent; 
    margin: 10px;
    text-transform: capitalize;

}
textarea:focus{
    outline: none;
    
}
.about{
    
    position: absolute;
    top: 80%;
    left: 30%;
    text-transform: capitalize;
    text-align: center;
}
#para{
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 84%;
    left: 30%;
    padding: 10px;
    
}
.resume{
 position: absolute;
 left: 42%;
 top: 50%;   
 text-decoration: none;

}
.resume:hover{
    text-shadow: 3px 4px 5px white;
}
span a img:hover{
    filter: drop-shadow(10px 15px 15px white);
    
}

